<app-toolbar></app-toolbar>
<div style="margin-top: 100px;">

    <div class=busqueda>
        <mat-form-field >
            <mat-label>Busqueda con pipe</mat-label>
            <input matInput [(ngModel)]=busqueda>
        </mat-form-field>
        <p>Lista de comentarios de apirest https://jsonplaceholder.typicode.com/</p>
    </div>
    <mat-card *ngFor="let com of ListaComentarios | filterList:busqueda" class="cardComentarios">
        <mat-card-subtitle>
            {{com.title}}
        </mat-card-subtitle>
        <mat-card-content>
            {{com.body}}
        </mat-card-content>
    </mat-card>
</div>