<app-toolbar></app-toolbar>
<div style="margin-top: 80px;">
    <mat-grid-list cols="4" rowHeight="300px" style="margin: 25px ;">
        <mat-grid-tile  *ngFor="let usu of ListaUsuarios">
            <mat-card >
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image">
                   <img src="https://image.flaticon.com/icons/png/512/1177/1177568.png" style="width: 50px;">
                  </div>
                  <mat-card-title>{{usu.name}}</mat-card-title>
                  <mat-card-subtitle>Username: {{usu.username}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>Email: {{usu.email}}</p>
                  <p>Phone: {{usu.phone}}</p>
                  <p>WebSite: {{usu.website}}</p>
                  <p>Company: {{usu.company.name}}</p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
</div>
