<app-toolbar></app-toolbar>
<div class="row contenedor">
    <mat-card class="cardlogin">
        <mat-form-field style="width: 100%;">
            <mat-label>Usuario</mat-label>
            <input matInput [(ngModel)]=user>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Contraseña</mat-label>
            <input matInput [(ngModel)]=pass>
        </mat-form-field>
        <div class="row">
            <button mat-raised-button color="primary" (click)="login()">Ingresar</button>
        </div>
        <p>
            Cuenta Administrador: admin:admin
        </p>
        <p>
            Cuenta Usuario: user:user
        </p>
    </mat-card>
</div>